* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.login .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.login .container form {
  width: 300px;
  margin: auto;
}

.login .container form .logo {
  font-size: 50px;
  margin-bottom: 15px;
}

.login .container form hr {
  color: #d20b0b;
}

.login .container form h1 {
  font-size: 40px;
}

.login .container form .open-account {
  padding-bottom: 20px;
  padding-top: 20px;
}

.login .container form h4 {
  margin-bottom: 15px;
}

.login .container form .icons {
  display: flex;
  height: 42px;
  margin-bottom: 30px;
  gap: 15px;
  margin-left: 5px;
}

.login .container form .line::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #dee1e6;
  margin: 30px auto;
}

.login .container form .icons i {
  font-size: 25px;
}

.login .container form .icons button {
  display: flex;
  align-items: center;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid #dee1e6;
  cursor: pointer;
  background-color: transparent;
}

.login .container form .icons button img {
  width: 60%;
  height: 60%;
}

.login .container form .icons .apple-btn {
  gap: 7px;
  padding: 0px 12px;
}

.login .container form .icons button:hover {
  background-color: #ced4dd;
}

.login .container form .icons span {
  font-size: 15px;
  font-weight: 500;
}

.login .container form .email-input {
  display: flex;
  /* justify-content: space-between; */
  padding: 12px 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #e5ebf3;
  color: #606a79;
  align-items: center;
}

.login .container form .email-input .email {
  display: flex;
  width: 100%;
  gap: 10px;
}

.login .container form .email-input .email i {
  font-size: 20px;
}

.login .container form .email-input .email input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
}

.login .container form .email-input:hover {
  background-color: #d3ddea;
}

.login .container form .email input:focus {
  border: none;
}

.login .container form .email-input .fa-check {
  font-size: 18px;
  color: #83bf6e;
}

.login .container form .continue-btn {
  width: 100%;
  padding: 15px 0px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #2a85ff;
  margin-bottom: 20px;
}

.login .container form .continue-btn:hover {
  background-color: #2b7ae1;
  cursor: pointer;
}

.login .container form .policy {
  color: #9ea2a8;
  font-size: 13px;
  padding-bottom: 20px;
}

.login .container form span {
    color: #9ea2a8;
    display: flex;
    gap: 15px;
}

.login .container form span a {
    text-decoration: none;
}

.green {
  border: 1px solid green;
}

.blue {
  border: 1px solid blue;
}

.red {
  border: 1px solid red;
}
