

.food-button {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 18px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.active {
    background-color: red;
    border: 3px solid blue;
}