* {
    margin: 0;
    padding: 0;
}

.container .nav-bar {
    height: 15vh;
    display: flex;
    align-items: center;
}

.container .nav-bar .icon {
    display: flex;
    width: 23%;
    height: 100%;
    align-items: center;
}

.container .nav-bar .right {
    width: 77%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}

.container .nav-bar .right .search {
    width: 400px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: #F4F4F4;
    padding-left: 15px;
    gap: 10px;
}

.container .nav-bar .right .search i {
    font-size: 20px;
}

.container .nav-bar .right .search input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.container .nav-bar .right .search input:focus {
    outline: none;
    border: none;
}

.container .nav-bar .right .right-links {
    display: flex;
    gap: 35px;
}

.container .nav-bar .right .right-links .icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    background-color: #F4F4F4;
}




.red {
    /* border: 2px solid red; */
    background-color: red;
}

.green {
    /* border: 2px solid green; */
    background-color: green;
}

.purple {
    /* border: 1px solid black; */
    background-color: purple;
}


.blue {
    /* border: 2px solid blue; */
    background-color: blue;
}

.aquamarine {
    /* border: 2px solid blue; */
    background-color: aquamarine;
}

.white {
    /* border: 2px solid blue; */
    background-color: white;
}