* {
    margin: 0;
    padding: 0;
}

.signup .container {
    display: flex;
}

/* Left section */
.signup .container .left {
    width: 30%;
    height: 100vh;
    background-color: #f4f4f4;
}

.signup .container .left .logo {
    font-size: 50px;
    /* margin-bottom: 150px; */
    margin: 20px 0px 150px 20px;
}

.signup .container .left .down {
    font-size: 110px;
    text-align: center;
    margin-bottom: 30px;
}

.signup .container .left .plans {
    padding-left: 50px;
}

.signup .container .left .plans h2 {
    font-size: 30px;
    font-weight: 550;
    padding-bottom: 40px;
}

.signup .container .left .plans .details {
    display: flex;
    gap: 15px;
    font-size: 20px;
    margin-bottom: 20px;
}

.signup .container .left .plans .details i {
    color: #83bf6e;
}

/* right section */
.signup .container .right {
    width: 70%;
    height: 100vh;
}

.signup .container .right .header {
    display: flex;
    justify-content: end;
    /* text-align: end; */
    padding-top: 30px;
    padding-right: 25px;
    gap: 17px;
}

.signup .container .right .header p {
    color: #9ea2a8;
}

.signup .container .right .header a {
    text-decoration: none;
}

.signup .container .right .signup-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 93%;
}

.signup .container .right .signup-2 form {
    width: 35%;
    margin: auto;
}

.green {
    border: 1px solid green;
  }

  .blue {
    border: 1px solid blue;
  }

  .red {
    border: 1px solid red;
  }