.register .container .register-form .container form .container .btn .login a {
    color: #3bd858;

}

.register .container .register-form .container form .container .btn .login {
    display: flex;
    justify-content: center;

}